# Sanity
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=
SANITY_API_TOKEN=
# SANITY_SERVER_API_TOKEN=skSANITY_SERVER_TOKEN_PLACEHOLDER
SANITY_VIEWER_TOKEN=
NEXT_PUBLIC_SANITY_STUDIO_URL=
SANITY_STUDIO_PREVIEW_ORIGIN=

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# OpenAI
OPENAI_API_KEY=
NEXT_PUBLIC_CHATKIT_WORKFLOW_ID=
